.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight,
.highlight .w {
  color: #c9d1d9 !important;
  background-color: #161b22 !important;
}

.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
  color: #ff7b72 !important;
}

.highlight .gr {
  color: #f0f6fc !important;
}

.highlight .gd {
  color: #ffdcd7 !important;
  background-color: #67060c !important;
}

.highlight .nb {
  color: #ffa657 !important;
}

.highlight .nc {
  color: #ffa657 !important;
}

.highlight .no {
  color: #ffa657 !important;
}

.highlight .nn {
  color: #ffa657 !important;
}

.highlight .sr {
  color: #7ee787 !important;
}

.highlight .na {
  color: #7ee787 !important;
}

.highlight .nt {
  color: #7ee787 !important;
}

.highlight .gi {
  color: #aff5b4 !important;
  background-color: #033a16 !important;
}

.highlight .kc {
  color: #79c0ff !important;
}

.highlight .l,
.highlight .ld,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #79c0ff !important;
}

.highlight .sb {
  color: #79c0ff !important;
}

.highlight .bp {
  color: #79c0ff !important;
}

.highlight .ne {
  color: #79c0ff !important;
}

.highlight .nl {
  color: #79c0ff !important;
}

.highlight .py {
  color: #79c0ff !important;
}

.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #79c0ff !important;
}

.highlight .o,
.highlight .ow {
  color: #79c0ff !important;
}

.highlight .gh {
  color: #1f6feb !important;
  font-weight: bold;
}

.highlight .gu {
  color: #1f6feb !important;
  font-weight: bold;
}

.highlight .s,
.highlight .sa,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss {
  color: #a5d6ff !important;
}

.highlight .nd {
  color: #d2a8ff !important;
}

.highlight .nf,
.highlight .fm {
  color: #d2a8ff !important;
}

.highlight .err {
  color: #f0f6fc !important;
  background-color: #8e1519 !important;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #8b949e !important;
}

.highlight .gl {
  color: #8b949e !important;
}

.highlight .gt {
  color: #8b949e !important;
}

.highlight .ni {
  color: #c9d1d9 !important;
}

.highlight .si {
  color: #c9d1d9 !important;
}

.highlight .ge {
  color: #c9d1d9 !important;
  font-style: italic;
}

.highlight .gs {
  color: #c9d1d9 !important;
  font-weight: bold;
}